application: feedflare-appengine
version: 1
runtime: python
api_version: 1

handlers:
- url: /
  script: root.py

- url: /hatena.*
  script: hatena.py

- url: /livedoor.*
  script: livedoor.py

#- url: .*
#  script: main.py
